# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Add From Here
**/*Zone.Identifier
**/**/gradle-wrapper.jar
**/**/gradle-wrapper.properties
settings.json